.carousel-container {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
}

.carousel-image {
    filter: brightness(0.4);
}

.carousel-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}