.create-button {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.create-button:hover {
    background-color: #0056b3;
}

.product-item {
    display: flex;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 20vw;
    height: auto;
    position: relative;
}

.model-item {
    margin-top: 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
}

.image-item {
    flex: 1 1 45%;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.image-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.product-details {
    margin-top: 10px;
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
}

.product-category,
.product-color,
.product-size {
    font-size: 1em;
    margin: 5px 0;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.edit-button,
.delete-button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
    flex: 1 1 25%;
    box-sizing: border-box;
    width: 10px;
    height: 30px;
    font-size: 0.8em;
    text-align: center;
}

.group-edit-button,
.group-delete-button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    flex: 1 1 45%;
    box-sizing: border-box;
}

.edit-button,
.group-edit-button {
    background-color: #28a745;
}

.edit-button:hover,
.group-edit-button:hover {
    background-color: #218838;
}

.delete-button,
.group-delete-button {
    background-color: #dc3545;
}

.delete-button:hover,
.group-delete-button:hover {
    background-color: #c82333;
}

.select-checkbox {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.stock-status {
    font-weight: bold;
    margin-top: 5px;
}

.product-stock .stock-status.in-stock {
    color: green;
}

.product-stock .stock-status.restocking {
    color: orange;
}

.product-stock .stock-status.out-of-stock {
    color: red;
}

.add-to-cart-button {
    padding: 10px 20px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #218838;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.alert {
    color: green;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.add-to-cart-button-details {
    padding: 10px 20px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-to-cart-button-details:hover {
    background-color: #218838;
}

.quantity-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    display: inline-block;
}

.zoomed-image {
    position: absolute;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    overflow: hidden;
    pointer-events: none; /* Pour que le cadre de zoom ne bloque pas les événements de la souris */
    transform: translate(-50%, -50%); /* Pour centrer le cadre de zoom sur la souris */
}

.zoomed-image img {
    position: absolute;
    max-width: none;
}