.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 40px;
    margin-top: 15px;
}

.game-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.player-info-container, .score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
}

.arrow-targets {
    display: contents;
}

.arrow-column {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    margin: 15px;
    position: relative;
}

.validation-zone {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 2px solid black;
    pointer-events: none;
}

.fixed-arrow {
    width: 50px;
    height: 50px;
    position: initial;
}

.arrows {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    animation: arrowMove 2s linear forwards;
}

.arrow-left {
    left: 8.3%;
}

.arrow-down {
    left: 33.3%;
    transform: translateX(-50%);
}

.arrow-up {
    left: 58.3%;
    transform: translateX(-50%);
}

.arrow-right {
    right: 8.25%;
}

.arrow img {
    width: 50px;
    height: 50px;
}

@keyframes arrowMove {
    from {
        transform: translateY(600px);
    }
    to {
        transform: translateY(-50px);
    }
}

.player-name {
    font-size: 1.5rem;
}

.score {
    font-size: 1.5rem;
}

@keyframes successMessage {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes missMessage {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.validation-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
    z-index: 10;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.validation-message.success {
    color: green; /* Vert pour les succès */
    animation-name: successMessage;
}

.validation-message.miss {
    color: red; /* Rouge pour les échecs */
    animation-name: missMessage;
}

.transparent {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.start-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.start-button:active {
    background-color: #3e8e41;
    transform: scale(1);
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
    color: #f31717;
    z-index: 20;
    animation: countdownAnimation 1s ease-out forwards;
}

.success-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.success-message::before {
    content: '✔';
    color: #155724;
    margin-right: 10px;
}